@model IEnumerable<WebAppPersonelGorevDagitim.Models.Personel>

@{
    ViewData["Title"] = "Personel Listesi";
}

<h1>Personel Listesi</h1>

<p>
    <a asp-action="Create">Yeni Personel Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonelAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonelSoyadi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelSoyadi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.PersonelId}) |
                @Html.ActionLink("Details", "Details", new {id=item.PersonelId}) |
                @Html.ActionLink("Delete", "Delete", new {id=item.PersonelId})
            </td>
        </tr>
}
    </tbody>
</table>
